*       @dbatiste @dlockhart @margaree @svanherk

*d2l-input-checkbox*       @dlockhart
*d2l-input-date*           @alogan519 @pbrown-d2l
*d2l-input-search*         @dbatiste @dlockhart
*d2l-input-time*           @awikkerink
